<!DOCTYPE html>
<html>
<head>
    <script>
        // This is called with the results from from FB.getLoginStatus().
        function statusChangeCallback(response) {
            console.log('statusChangeCallback');
            console.log(response);
            // The response object is returned with a status field that lets the
            // app know the current login status of the person.
            // Full docs on the response object can be found in the documentation
            // for FB.getLoginStatus().
            if (response.status === 'connected') {
                // Logged into your app and Facebook.
                testAPI();
            } else if (response.status === 'not_authorized') {
                // The person is logged into Facebook, but not your app.
                document.getElementById('status').innerHTML = 'Please log ' +
                        'into this app.';
            } else {
                // The person is not logged into Facebook, so we're not sure if
                // they are logged into this app or not.
                document.getElementById('status').innerHTML = 'Please log ' +
                        'into Facebook.';
            }
        }

        // This function is called when someone finishes with the Login
        // Button.  See the onlogin handler attached to it in the sample
        // code below.
        function checkLoginState() {
            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });
        }

        window.fbAsyncInit = function () {
            FB.init({
                appId: '1018420618231174',
                cookie: true,  // enable cookies to allow the server to access
                               // the session
                xfbml: true,  // parse social plugins on this page
                version: 'v2.5' // use graph api version 2.5
            });

            // Now that we've initialized the JavaScript SDK, we call
            // FB.getLoginStatus().  This function gets the state of the
            // person visiting this page and can return one of three states to
            // the callback you provide.  They can be:
            //
            // 1. Logged into your app ('connected')
            // 2. Logged into Facebook, but not your app ('not_authorized')
            // 3. Not logged into Facebook and can't tell if they are logged into
            //    your app or not.
            //
            // These three cases are handled in the callback function.

            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });

        };

        // Load the SDK asynchronously
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        // Here we run a very simple test of the Graph API after login is
        // successful.  See statusChangeCallback() for when this call is made.
        function testAPI() {
            console.log('Welcome!  Fetching your information.... ');
            FB.api('/me', function (response) {
                console.log('Successful login for: ' + response.name);
                document.getElementById('status').innerHTML =
                        'Thanks for logging in, ' + response.name + '!';
            });
        }
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#2196F3">
    <title>Neighborhood Centers</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!--{% load staticfiles %}-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

    <!--&lt;!&ndash; Compiled and minified JavaScript &ndash;&gt;-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <!-- CSS  -->
    <!--<link href='Neighborhoods/static_in_pro/our_static/www/min/plugin-min.css' type="text/css" rel="stylesheet">-->
    <!--<link href= "{% static 'www/min/plugin-min.css' %}" type="text/css" rel="stylesheet">-->
    <!--<link href= "{% static 'www/min/custom-min.css' %}" type="text/css" rel="stylesheet">-->
    <!--<link href="{% static 'www/css/materialize.css' %}" type="text/css" rel="stylesheet">-->
    <!--<link href= "min/plugin-min.css" type="text/css" rel="stylesheet">-->
    <!--<link href= "min/custom-min.css" type="text/css" rel="stylesheet">-->
    <!--<link href="css/materialize.css" type="text/css" rel="stylesheet">-->
</head>

<body id="top" class="scrollspy">
    <!--  Scripts-->
    <!--<script type="text/javascript" src="{% static 'www/min/plugin-min.js' %}"></script>-->
    <!--<script type="text/javascript" src="{% static 'www/min/custom-min.js' %}"></script>-->
    <!--<script type="text/javascript" src="{% static 'www/js/materialize.js' %}"></script>-->
    <!--<script type="text/javascript" src="min/plugin-min.js"></script>-->
    <!--<script type="text/javascript" src="min/custom-min.js"></script>-->
    <!--<script type="text/javascript" src="js/materialize.js"></script>-->
    <script type="text/javascript">
    $(document).ready(function(){
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal-trigger').leanModal();
    });
    </script>
    <!-- Pre Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>

    <!--Navigation-->
     <div class="navbar-fixed">
        <nav id="nav_f" class="default_color" role="navigation">
            <div class="container">
                <div class="nav-wrapper">
                <a href="#" id="logo-container" class="brand-logo">Neighborhood Centers</a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="#intro">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li><a class="modal-trigger" href="#modal1">Register/Login</a></li>
                    </ul>
                    <ul id="nav-mobile" class="side-nav">
                        <li><a href="#intro">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li><a class="modal-trigger" href="#modal1">Register/Login</a></li>
                    </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                </div>
            </div>
        </nav>
    </div>

    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Login/Register</h4>
            <div class="fb-login-button" data-max-rows="1" data-size="medium"
                                 data-show-faces="false" data-auto-logout-link="true">
            </div>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field cols6">
                            <label class="label">First Name</label>
                            <input class="input">
                        </div>
                        <div class="input-field cols6">
                            <label>Last Name</label>
                            <input class="input">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a href="{% url 'UserInterface:mat_view' %}" class=" modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
        </div>
    </div>

    <!--Intro and service-->
    <div id="intro" class="section scrollspy">
        <div class="container">
            <div class="row">
                <div  class="col s12">
                    <h2 class="center header text_h2"> Welcome to Neighborhood Centers</h2>
                </div>
                <div class="col s5 push-s1">
                    <img class="materialboxed" width="750" src="http://wallpaperlayer.com/img/2015/9/pixel-city-wallpaper-8214-8531-hd-wallpapers.jpg">
                </div>
            </div>
        </div>
    </div>
</body>
</html>